/*main*/
body{
    text-align:center;
    font-family:
        "Palatino Linotype",
        Palatino,
        Palladio,
        "URW Palladio L",
        "Book Antiqua",
        Baskerville,
        "Bookman Old Style",
        "Bitstream Charter",
        "Nimbus Roman No9 L",
        Garamond,"Apple Garamond",
        "ITC Garamond Narrow",
        "New Century Schoolbook",
        "Century Schoolbook",
        "Century Schoolbook L",
        Georgia,
        serif;
    padding-bottom:20px;
}
a,a:visited{
    color:rgb(255, 100, 100);
    text-decoration:none;
}

/*menus*/
.boxes{
    box-shadow:0 0 5px 2px rgba(0,0,0,0.7);
    background:white;
    position:absolute;
    width:500px;
    left:50%;
    margin-left:-256px;
    top:80px;
    padding:15px;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}
.hidden{
    -webkit-transform: translate(0,-140%);
    transform: translate(0,-140%);
}
#menu{
    padding-bottom:2em;
}
#menu a{
    text-decoration:none;
    color:black;
    display:inline-block;
    border:1px solid grey;
    font-weight:bold;
}
#menu > a{
    border-radius:7px;
    font-size:26px;
    background:rgb(187, 187, 255);
    padding:5px;
    text-shadow:none;
}
#info{
    text-align:left;
    margin-bottom:2.5em;
}
#playerboxes a{
    width:100px;
    height:100px;
    background: white;
    padding-top: 37px;
    box-sizing:border-box;
}
#playerboxes a:first-child{
    background:rgb(255, 187, 187);
}
#playerboxes a:nth-child(2){
    background:rgb(255, 255, 187);
}
#playerboxes a:nth-child(3){
    background:rgb(187, 255, 187);
}

/*game*/
.container{
    background:#EAEAEA;
    border:1px solid #888;
    margin:20px;
    width:600px;
    height:602px;
    display:inline-block;
}
.cell{
    width:40px;
    height:40px;
    background:#EEE;
    border:1px solid grey;
    box-sizing:border-box;
    display:inline-block;
    margin:8px;
    cursor:pointer;
}

/*status*/
#status{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    top:auto;
    width:auto;
    height:20px;
    padding:5px;
    margin:0;
    display:block;
    z-index:2000;
    -webkit-transition:0.5s all;
    transition: 0.5s all;
}
